.container {
	width: 600px;
	margin: 40px auto;
	padding: 10px;
	border: 1px solid gray;
	background-color: #dff;
}

.account input {
	display: block;
	margin-bottom: 5px;
}

input[type="text"] {
	border: 1px solid gray;
}

input[type="password"] {
	border: 1px solid gray;
}

em {
	color: green;
	font-style: normal;
}
